
</div>
    <script src="../js/dash.js"></script>
    <script src="../js/scroll.js"></script>
    <script src="../js/clock.js"></script>
	
	<script src="./assets/bundles/lib.vendor.bundle.js"></script>

<script src="../assets/bundles/apexcharts.bundle.js"></script>
<script src="../assets/bundles/counterup.bundle.js"></script>
<script src="../assets/bundles/knobjs.bundle.js"></script>
<script src="../assets/bundles/c3.bundle.js"></script>
<script src="../assets/bundles/flot.bundle.js"></script><!-- flot charts Plugin Js --> 
<script src="../assets/bundles/jvectormap1.bundle.js"></script>
<script src="../assets/js/core.js"></script>
<script src="../assets/js/page/index.js"></script>
	<script src="./assets/js/page/index.js"></script>
	</body>
</html>