<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Profile">
	<meta name="author" content="RellXyz">
	<meta name="keywords" content="Profile">
	<title>Dashboard - RellXyz API</title>
	<!-- Bootstrap Core and vandor -->
	<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css" />
	<!-- Core css -->
	<link rel="stylesheet" href="../assets/css/main.css"/>
	<!-- Bootstrap Core and vandor -->
    <!-- Plugins css -->
	<link rel="stylesheet" href="../assets/plugins/charts-c3/c3.min.css"/>
	<link rel="stylesheet" href="../assets/plugins/jvectormap/jvectormap-2.0.3.css" />

	<link rel="stylesheet" href="../assets/plugins/chartjs/chart.min.js">
	<link rel="stylesheet" href="../assets/plugins/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-119386393-1');
	</script>
</head>
<body class="font-montserrat dark-mode">
	<!-- Page Loader -->
	<div class="page-loader-wrapper">
		<div class="loader">
		</div>
	</div>

	<div id="main_content">
	
		<div id="header_top" class="header_top">
			<div class="container">
				<div class="hleft">
					<a class="header-brand" href="/dashboard"><i class="fa fa-dashboard brand-logo"></i></a>
					
				</div>
				<div class="hright">
					<div class="dropdown">
						<a href="javascript:void(0)" class="nav-link icon theme_btn"><i class="fa fa-money" data-toggle="tooltip" data-placement="right" title="Pricelist"></i></a>
						<a href="javascript:void(0)" class="nav-link icon settingbar"><i class="fa fa-gear fa-spin" data-toggle="tooltip" data-placement="right" title="Settings"></i></a>
						<a href="javascript:void(0)" class="nav-link user_btn"><img class="avatar" src="img/avatars/1.png" alt="" data-toggle="tooltip" data-placement="right" title="Profile"/></a>
						<a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fa  fa-align-left"></i></a>
					</div>            
				</div>
			</div>
		</div>
	
		<div id="rightsidebar" class="right_sidebar dark-mode">
			<a href="javascript:void(0)" class="p-3 settingbar float-right"><i class="fa fa-close"></i></a>
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Settings" aria-expanded="true">Settings</a></li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane vivify fadeIn active" id="Settings" aria-expanded="true">
					<div class="mb-4">
						<h6 class="font-14 font-weight-bold text-muted">Font Style</h6>
						<div class="custom-controls-stacked font_setting">
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" name="font" value="font-opensans">
								<span class="custom-control-label">Open Sans Font</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" name="font" value="font-montserrat" checked="">
								<span class="custom-control-label">Montserrat Google Font</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" name="font" value="font-poppins">
								<span class="custom-control-label">Poppins Google Font</span>
							</label>
						</div>
					</div>
					<div class="mb-4">
						<h6 class="font-14 font-weight-bold text-muted">Dropdown Menu Icon</h6>
						<div class="custom-controls-stacked arrow_option">
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" name="marrow" value="arrow-a">
								<span class="custom-control-label">A</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" name="marrow" value="arrow-b" checked="">
								<span class="custom-control-label">B</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" name="marrow" value="arrow-c">
								<span class="custom-control-label">C</span>
							</label>
						</div>
						<h6 class="font-14 font-weight-bold mt-4 text-muted">SubMenu List Icon</h6>
						<div class="custom-controls-stacked list_option">
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" name="listicon" value="list-a">
								<span class="custom-control-label">A</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" name="listicon" value="list-b" checked="">
								<span class="custom-control-label">B</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" class="custom-control-input" name="listicon" value="list-c">
								<span class="custom-control-label">C</span>
							</label>
						</div>
					</div>
					<div>
						<h6 class="font-14 font-weight-bold mt-4 text-muted">General Settings</h6>
						<ul class="setting-list list-unstyled mt-1 setting_switch">
							<li>
								<label class="custom-switch">
									<span class="custom-switch-description">Night Mode</span>
									<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-darkmode" checked="">
									<span class="custom-switch-indicator"></span>
								</label>
							</li>
							<li>
								<label class="custom-switch">
									<span class="custom-switch-description">Fix Navbar top</span>
									<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-fixnavbar">
									<span class="custom-switch-indicator"></span>
								</label>
							</li>
							<li>
								<label class="custom-switch">
									<span class="custom-switch-description">Header Dark</span>
									<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-pageheader">
									<span class="custom-switch-indicator"></span>
								</label>
							</li>
							<li>
								<label class="custom-switch">
									<span class="custom-switch-description">Min Sidebar Dark</span>
									<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-min_sidebar">
									<span class="custom-switch-indicator"></span>
								</label>
							</li>
							<li>
								<label class="custom-switch">
									<span class="custom-switch-description">Sidebar Dark</span>
									<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-sidebar">
									<span class="custom-switch-indicator"></span>
								</label>
							</li>
							<li>
								<label class="custom-switch">
									<span class="custom-switch-description">Icon Color</span>
									<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-iconcolor">
									<span class="custom-switch-indicator"></span>
								</label>
							</li>
							<li>
								<label class="custom-switch">
									<span class="custom-switch-description">Gradient Color</span>
									<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-gradient">
									<span class="custom-switch-indicator"></span>
								</label>
							</li>
							<li>
								<label class="custom-switch">
									<span class="custom-switch-description">Box Shadow</span>
									<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-boxshadow">
									<span class="custom-switch-indicator"></span>
								</label>
							</li>
							<li>
								<label class="custom-switch">
									<span class="custom-switch-description">RTL Support</span>
									<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-rtl">
									<span class="custom-switch-indicator"></span>
								</label>
							</li>
							<li>
								<label class="custom-switch">
									<span class="custom-switch-description">Box Layout</span>
									<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input btn-boxlayout">
									<span class="custom-switch-indicator"></span>
								</label>
							</li>
						</ul>
					</div>
					<hr>
					<div class="form-group">
						<label class="d-block">SPEED TEST<span class="float-right">77%</span></label>
						<div class="progress progress-sm">
							<div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
						</div>
						<button type="button" class="btn btn-primary btn-block mt-3">BY RellXyz</button>
					</div>
				</div>
			</div>
		</div>
	
		<div class="theme_div dark-mode">
			<div class="card">
				<div class="card-header dark-mode">
					<h3 class="card-title">MALL</h3>
					<div class="card-options">
						<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
					</div>
				</div>
				<div class="card-body dark-mode">
					<div class="text-center">
						<div class="row">
							<div class="col-6 pb-3">
								<label class="mb-0">HARGA</label>
								<h4 class="font-30 font-weight-bold">45K</h4>
							</div>
							<div class="col-6 pb-3">
								<label class="mb-0">HEMAT</label>
								<h4 class="font-30 font-weight-bold">15K</h4>
							</div>
						</div>
					</div>                
					<div class="form-group">
						<label class="d-block">MASA AKTIF<span class="float-right">5 BULAN</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="d-block">LIMIT <span class="float-right">UNLIMITED</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
						</div>
					</div>
					<div class="form-group mb-0">
						<label class="d-block">CUSTOM APIKEY <span class="float-right">ON</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-yellow" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
						</div>
					</div><br>
					<div class="form-group mb-0">
						<a class="btn btn-info" href="https://wa.me/62881026950162?text=Permisi kak, saya mau order *premium user* 5 bulan gratis script bot.">Beli Sekarang</a>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header dark-mode">
					<h3 class="card-title">SUPERMARKET</h3>
					<div class="card-options">
						<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
					</div>
				</div>
				<div class="card-body dark-mode">
					<div class="text-center">
						<div class="row">
							<div class="col-6 pb-3">
								<label class="mb-0">HARGA</label>
								<h4 class="font-30 font-weight-bold">30K</h4>
							</div>
							<div class="col-6 pb-3">
								<label class="mb-0">HEMAT</label>
								<h4 class="font-30 font-weight-bold">6K</h4>
							</div>
						</div>
					</div>                
					<div class="form-group">
						<label class="d-block">MASA AKTIF<span class="float-right">3 BULAN</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="d-block">LIMIT <span class="float-right">UNLIMITED</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
						</div>
					</div>
					<div class="form-group mb-0">
						<label class="d-block">CUSTOM APIKEY <span class="float-right">ON</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-yellow" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
						</div>
					</div><br>
					<div class="form-group mb-0">
						<a class="btn btn-info" href="https://wa.me/62881026950162?text=Permisi kak, saya mau order *premium user* 3 bulan gratis script bot.">Beli Sekarang</a>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header dark-mode">
					<h3 class="card-title">ALFAMART & INDOMART</h3>
					<div class="card-options">
						<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
					</div>
				</div>
				<div class="card-body dark-mode">
					<div class="text-center">
						<div class="row">
							<div class="col-6 pb-3">
								<label class="mb-0">HARGA</label>
								<h4 class="font-30 font-weight-bold">20K</h4>
							</div>
							<div class="col-6 pb-3">
								<label class="mb-0">HEMAT</label>
								<h4 class="font-30 font-weight-bold">4K</h4>
							</div>
						</div>
					</div>                
					<div class="form-group">
						<label class="d-block">MASA AKTIF<span class="float-right">2 BULAN</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="d-block">LIMIT <span class="float-right">UNLIMITED</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
						</div>
					</div>
					<div class="form-group mb-0">
						<label class="d-block">CUSTOM APIKEY <span class="float-right">ON</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-yellow" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
						</div>
					</div><br>
					<div class="form-group mb-0">
						<a class="btn btn-info" href="https://wa.me/62881026950162?text=Permisi kak, saya mau order *premium user* 2 bulan gratis script bot.">Beli Sekarang</a>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header dark-mode">
					<h3 class="card-title">SWALAYAN MIKRO</h3>
					<div class="card-options">
						<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
					</div>
				</div>
				<div class="card-body dark-mode">
					<div class="text-center">
						<div class="row">
							<div class="col-6 pb-3">
								<label class="mb-0">HARGA</label>
								<h4 class="font-30 font-weight-bold">12K</h4>
							</div>
							<div class="col-6 pb-3">
								<label class="mb-0">HEMAT</label>
								<h4 class="font-30 font-weight-bold">0K</h4>
							</div>
						</div>
					</div>                
					<div class="form-group">
						<label class="d-block">MASA AKTIF<span class="float-right">1 BULAN</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="d-block">LIMIT <span class="float-right">UNLIMITED</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
						</div>
					</div>
					<div class="form-group mb-0">
						<label class="d-block">CUSTOM APIKEY <span class="float-right">ON</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-yellow" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
						</div>
					</div><br>
					<div class="form-group mb-0">
						<a class="btn btn-info" href="https://wa.me/62881026950162?text=Permisi kak, saya mau order *premium user* 1 bulan gratis script bot.">Beli Sekarang</a>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header dark-mode">
					<h3 class="card-title">WARUNG GRATIS</h3>
					<div class="card-options">
						<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
					</div>
				</div>
				<div class="card-body dark-mode">
					<div class="text-center">
						<div class="row">
							<div class="col-6 pb-3">
								<label class="mb-0">HARGA</label>
								<h4 class="font-30 font-weight-bold">FREE</h4>
							</div>
							<div class="col-6 pb-3">
								<label class="mb-0">HEMAT</label>
								<h4 class="font-30 font-weight-bold">NO</h4>
							</div>
						</div>
					</div>                
					<div class="form-group">
						<label class="d-block">MASA AKTIF<span class="float-right">SELAMANYA</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="d-block">LIMIT <span class="float-right">UNLIMITED</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
						</div>
					</div>
					<div class="form-group mb-0">
						<label class="d-block">CUSTOM APIKEY <span class="float-right">ON</span></label>
						<div class="progress progress-xs">
							<div class="progress-bar bg-yellow" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="user_div">
			<h5 class="brand-name mb-4">RellXyz API<a href="javascript:void(0)" class="user_btn"><i class="icon-logout"></i></a></h5>
			<div class="card">
				<div class="card-body">
					<div class="media">
						<img class="avatar avatar-xl mr-3" src="img/avatars/1.png" alt="avatar">
						<div class="media-body">
							<h5 class="m-0">RellXyz</h5>
							<p class="text-muted mb-0">Back End Developer</p>
							<ul class="social-links list-inline mb-0 mt-2">
								<li class="list-inline-item"><a href="https://facebook.com/irvanfarael" title="" data-toggle="tooltip" data-original-title="@irvanfarel"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://instagram.com/irvnfrlh" title="" data-toggle="tooltip" data-original-title="@irvnfrlh"><i class="fa fa-instagram"></i></a></li>
								<li class="list-inline-item"><a href="https://wa.me/62881026950162" title="" data-toggle="tooltip" data-original-title="0881-0269-50162"><i class="fa fa-whatsapp"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="media">
						<img class="avatar avatar-xl mr-3" src="img/avatars/1.png" alt="avatar">
						<div class="media-body">
							<h5 class="m-0">RellXyz</h5>
							<p class="text-muted mb-0">Front End Developer</p>
							<ul class="social-links list-inline mb-0 mt-2">
								<li class="list-inline-item"><a href="https://facebook.com/irvanfarael" title="" data-toggle="tooltip" data-original-title="@irvanfarel"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://instagram.com/irvnfrlh" title="" data-toggle="tooltip" data-original-title="@irvnfrlh"><i class="fa fa-instagram"></i></a></li>
								<li class="list-inline-item"><a href="https://wa.me/62881026950162" title="" data-toggle="tooltip" data-original-title="0881-0269-50162"><i class="fa fa-whatsapp"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	